image:
  repository: questdb/questdb
  pullPolicy: IfNotPresent
  tag: 6.4.2

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}

questdb:
  config:
    enabled: true
    options:
       shared.worker.count: 2

service:
  annotations: {}
  type: ClusterIP
  port: 9000
  expose:
    postgresql:
      enabled: false
      port: 8812
    influxdb:
      enabled: false
      port: 9009

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 50Gi
  # Uncomment existingClaim to enable existing pvc to be mounted for db storage
  # size and accessMode will be ignored
  # existiung pvc needs to be in the namespace where questdb will be deployed
  # if you have problems with aws availability zones use nodeSelector to schedule nodes in the same az as volume
  # existingClaim: PVC_NAME_HERE

ingress:
  enabled: false
  annotations: {}
  # tls:
  #   - hosts:
  #       - example.com
  #     secretName: questdb-certificate
  # ingressClassName: nginx
  # hosts:
  #   - host: example.com
  #     paths:
  #       - /

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
