{{- if or .Values.questdb.serverConfig.enabled .Values.questdb.loggingConfig.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "questdb.fullname" . }}
  labels:
    {{- include "questdb.labels" . | nindent 4 }}
data:
  {{- if .Values.questdb.serverConfig.enabled }}
  server.conf: |
    {{- range $key, $value := index .Values.questdb.serverConfig.options }}
    {{ $key }} = {{ $value }}
    {{- end }}
  {{- end }}
  {{- if .Values.questdb.loggingConfig.enabled }}
  log.conf: |
    {{- range $key, $value := index .Values.questdb.loggingConfig.options }}
    {{ $key }} = {{ $value }}
    {{- end }}
  {{- end }}
{{ end }}
