{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
metadata:
    name: {{ include "questdb.serviceAccountName" . }}
    {{- if .Values.serviceAccount.labels }}
    labels:
    {{ toYaml .Values.serviceAccount.labels | nindent 6 }}
    {{- end }}
    {{- if .Values.serviceAccount.annotations }}
    annotations:
    {{ toYaml .Values.serviceAccount.annotations | nindent 6 }}
    {{- end }}
{{- end }}
