apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "questdb.fullname" . }}
  labels:
    {{- include "questdb.labels" . | nindent 4 }}
spec:
  # Not horizontally scalable yet, so pinning to 1
  replicas: 1
  selector:
    matchLabels:
      {{- include "questdb.selectorLabels" . | nindent 6 }}
  serviceName: "{{ include "questdb.fullname" . }}-headless"
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "questdb.selectorLabels" . | nindent 8 }}
        {{- if .Values.extraLabels }}
        {{ toYaml .Values.extraLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- include "generatePodSecurityContext" . | nindent 8 }}
      {{- if or .Values.serviceAccount.create .Values.serviceAccount.name }}
      serviceAccountName: {{ include "questdb.serviceAccountName" . }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- include "generateSecurityContext" . | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- range $key, $value := .Values.questdb.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
          {{- end }}
          {{- range .Values.questdb.secretFiles }}
            - name: {{ include "questdb.propertyToEnvVar" .property }}
              value: "/run/secrets/{{ .secretKey }}"
          {{- end }}
          {{- if .Values.questdb.envFrom }}
          envFrom:
            {{ toYaml .Values.questdb.envFrom | nindent 10 }}
          {{- end }}
          volumeMounts:
          - name: {{ include "questdb.fullname" . }}
            mountPath: {{ .Values.questdb.dataDir }}
          {{- if .Values.questdb.serverConfig.enabled }}
          - name: server-config
            mountPath: {{ .Values.questdb.dataDir }}/conf/server.conf
            subPath: server.conf
          {{- end }}
          {{- if .Values.questdb.loggingConfig.enabled }}
          - name: logging-config
            mountPath: {{ .Values.questdb.dataDir }}/conf/log.conf
            subPath: log.conf
          {{- end }}
          {{- if .Values.questdb.mimeConfig.enabled }}
          - name: mime-config
            mountPath: {{ .Values.questdb.dataDir }}/conf/mime.types
            subPath: mime.types
          {{- end }}
          {{- range .Values.questdb.secretFiles }}
          - name: secret-{{ .secretKey }}
            mountPath: /run/secrets/{{ .secretKey }}
            subPath: {{ .secretKey }}
            readOnly: true
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
            {{ toYaml .Values.extraVolumeMounts | nindent 10 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
            - name: postgresql
              containerPort: 8812
              protocol: TCP
            - name: influxdb
              containerPort: 9009
              protocol: TCP
            {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
            {{- end }}
          {{- if .Values.livenessProbe  }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe  }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.sidecars  }}
          {{- toYaml .Values.sidecars | nindent 8 }}
        {{- end }}
      initContainers:
        - name: init-db-migration
          image: "{{ .Values.dataMigration.image.repository }}:{{ .Values.dataMigration.image.tag }}"
          command: ["bash", "/mnt/migration_scripts/migrate_to_helm_v1.sh"]
          securityContext:
            {{- include "generateSecurityContext" . | nindent 12 }}
          volumeMounts:
            - name: {{ include "questdb.fullname" . }}
              mountPath: /mnt/questdb
            - name: migration-scripts
              mountPath: /mnt/migration_scripts
      {{- if .Values.dataMigration.resources }}
          resources:
            {{- toYaml .Values.dataMigration.resources | nindent 12}}
      {{- end }}
      {{- if .Values.initContainers  }}
        {{- toYaml .Values.initContainers | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.questdb.serverConfig.enabled }}
        - name: server-config
          {{- if eq .Values.questdb.configStorageType "Secret" }}
          secret:
              secretName: {{ include "questdb.fullname" . }}
          {{- else }}
          configMap:
            name: {{ include "questdb.fullname" . }}
          {{- end }}
        {{- end }}
        {{- if .Values.questdb.loggingConfig.enabled }}
        - name: logging-config
          {{- if eq .Values.questdb.configStorageType "Secret" }}
          secret:
              secretName: {{ include "questdb.fullname" . }}
          {{- else }}
          configMap:
            name: {{ include "questdb.fullname" . }}
          {{- end }}
        {{- end }}
        {{- if .Values.questdb.mimeConfig.enabled }}
        - name: mime-config
          {{- if eq .Values.questdb.configStorageType "Secret" }}
          secret:
              secretName: {{ include "questdb.fullname" . }}
          {{- else }}
          configMap:
            name: {{ include "questdb.fullname" . }}
          {{- end }}
        {{- end }}
        {{- range .Values.questdb.secretFiles }}
        - name: secret-{{ .secretKey }}
          secret:
            secretName: {{ .secretName }}
        {{- end }}
        - name: migration-scripts
          configMap:
            name: {{ include "questdb.fullname" . }}-db-migrations
        {{- if .Values.extraVolumes }}
          {{ toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
  {{- if and .Values.persistence.enabled .Values.persistence.existingClaim }}
        - name: {{ include "questdb.fullname" . }}
          persistentVolumeClaim:
            claimName: {{ tpl .Values.persistence.existingClaim $ }}
  {{- else if not .Values.persistence.enabled }}
        - name: {{ include "questdb.fullname" . }}
          emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "questdb.fullname" . }}
        annotations:
        {{- range $key, $value := .Values.persistence.annotations }}
          {{ $key }}: "{{ $value }}"
        {{- end }}
      spec:
        accessModes:
          - {{ .Values.persistence.accessMode | quote}}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
      {{- if .Values.persistence.storageClass }}
      {{- if (eq "-" .Values.persistence.storageClass) }}
        storageClassName: ""
      {{- else }}
        storageClassName: "{{ .Values.persistence.storageClass }}"
      {{- end }}
      {{- end }}
  {{- end }}
